*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background-color: white;
    color: #555;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
}
.row{
    max-width: 1140px;
    margin: 0 auto;
}
header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)) , url("img/hero.jpg");
   height: 100vh;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
h1{
    color: white;
    margin-bottom: 20px;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;

}
.text{
    position: absolute;
   width: 1140px;
   top: 50%;
   left: 50%;
   transform: translate(-50%,50%); 
   transition: background-color 0.2s,border 0.2s,color 0.2s;
}
.btn:link,
.btn:visited,
input[type=submit]
{
  display:inline-block ;
  padding: 10px 30px;
  text-decoration: none;
   font-weight: 300;
  border-radius: 200px;
}
.btn-full:link,
.btn-full:visited,
input[type=submit]
{
    background-color: orange;
    color: white;
    border: 1px solid orange;
    margin-right: 25px;
}
.btn-ghost:link,
.btn-ghost:visited
{
    color: orange;
    border: 1px solid orange;
}
.btn:hover,
.btn:active,
input[type=submit]:hover
{
    background-color: darkorange;
    
}
.btn-ghost:hover,
.btn-ghost:active
{
    background-color: orange;
    color: white;
}
.logo{
    height: 100px;
    width: auto;
    margin: 1cm 2cm;
    float: left;
}
.nav-bar{
    float: right;
    list-style: none;
    margin-top: 55px;
}
.nav-bar li{
    display: inline-block;
    margin-right: 1cm;
} 
.nav-bar li a:link,
.nav-bar li a:visited
{
     text-decoration: none;
     color: white;
     text-transform: uppercase;
     font-size: 20px ;
     border-bottom: 2px solid transparent;
     padding: 8px 0;
     transition: border-bottom 0.2s;
}
.nav-bar li a:hover,
.nav-bar li a:active{
   border-bottom: 2px solid #e67e22;
}
section{
    padding: 80px 0 ;
}
h2{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 4px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
  
}
h2:after{
    display: block;
    height: 2px;
    background-color: orange;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 13px;
}
.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 20%;
  margin-bottom: 30px;
}
.box{
    padding: 1%;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}
.box p{
    font-size: 90%;
    line-height: 145%;
}
.icon-box{
    font-size: 350%;
    display: block;
    color: orange;
    margin-bottom: 10px;
}
.meals-showcase{
    list-style: none;
    width:92%;
}
.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}
.meal-photo{
    width: 100%;
    margin: 10px;
    background-color: black;
    transition: transform 0.5s,opacity 0.5s;
}
.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}
.meal-photo img:hover{
     transform: scale(1.03);
     opacity: 1;
     
} 
.clearfix_{zoom:1}
.clearfix::after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.section-meals{
    padding: 0;
}
.work-step{
     margin-bottom: 50px;
     margin-right: 25px;
}
.step-box:first-child{
   text-align: center;
   padding-right: 3%;
   margin-top: 30px;
}
.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}
.app-screen{
    width: 40%;
    box-shadow: 10px 10px 5px #aaaaaa;
}
.work-step div{
    color: orange;
    border: 4px solid orange;
    display: inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    margin-right: 25px;
    float: left ;
    font-size: 150%;

}
.work-step:last-of-type{
    margin-bottom: 80px;
}
.btn-app{
  height: 50px;
  width: auto;
  margin-right: 10px;
}
.btn-app:link,
.btn-app:visited{
    border: 0;
}
.section-steps{
    background-color:#f4f4f4 ;
}
.box img{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}
.icons{
    display: inline-block;
    width: 30px;
    text-align: center;
    color: orange;
    font-size: 120%;
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 15px;
}
a:link,
a:visited{
    color: orange;
    text-decoration: none;
    border-bottom: 1px solid orange ;
    padding-bottom: 3px;
}
a:hover,
a:active{
    color: #555;
    border-bottom: 1px solid transparent ;
    transition: border-bottom 0.5s, color 0.5s ;
}
.section-testimonial{
    background-image:  linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)) ,url(img/back-customers.jpg) ;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    
}
blockquote{
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    margin-top: 48px;
    position: relative;
}
cite{
    font-size: 90%;
    display: block;
      margin-top: 25px; 
}
cite img{
    height: 55px;
    border-radius: 50%;
    margin-right: 25px;
    vertical-align:middle;
}
blockquote:before{
    content: '\201C';
    font-size: 500%;
    display: block;
    position: absolute;
    top: 0;
    left: -3px;

}
.section-plans{
    background-color:#f4f4f4 ;
}
.plan-box{
    background-color: #fff;
    border-radius: 5px;
    width: 90%;
    margin-left: 5%;
}
.plan-box div{
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;
    color: orange;
}
.plan-price-meal{
    font-size: 80%;
    margin-bottom: 30px;
}
.plan-price span{
    font-size: 30%;
    font-weight: 300;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}
.plan-box div:last-child{
    border: 0;
   text-align: center;
}
.plan-box:first-child{
    background-color: #fcfcfc;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.contact{
    width: 60%;
    margin: 0 auto;
    }
    input[type=text],
    input[type=email],
    select
    {width: 100%;
        padding: 7px;
        border-radius: 3px;
        border: 1px solid #ccc ;
    }
   textarea{
    height: 100%;
   }
input[type=checkbox]
{
    margin: 10px 5px 10px 0px;
}
footer{
    background-color: #333;
   font-size: 80%;
   padding: 80px;
}
.footer-nav{
    list-style: none;
    float: left;
}
.social-link{
    list-style: none;
    float: right;
}
.footer-nav li,
.social-link li{
 display: inline-block;
 margin-right: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-link li a:link,
.social-link li a:visited{
  text-decoration: none;
  border: 0;
  color: grey;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: white;
}
footer p{ 
    color: #e8e8e8;
    text-align: center;
    font-size: 90%;
    margin-top: 20px;
}

.facebook:hover{
    color: #3b5998;

}
.twitter:hover{
    color:#00aceb;

}
.google:hover{
    color: #dd4b39;
}
.insta:hover{
    color: #517fa4;
}
.social-link li a:link,
.social-link li a:visited{
    font-size: 160%;
}










